<div class="col-md-12">

  <h2 class="text-center"> 我的挑戰行動 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> 行動 </th>
        <th> 挑戰</th>
        <th> 最近更新 </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td> <%= simple_format(post.content) %> </td>
          <% if post.group %>
            <td> <%= post.group.title %> </td>
          <% else %>
            <td>No Group </td>
          <% end %>
          <td> <%= post.updated_at.to_s(:long) %> </td>
          <% if post.group %>
          <td align="right">
            <%= link_to('行動。改', edit_group_post_path(post.group, post), class: "btn btn-info btn-xs") %>
            <%= link_to('行動。滅', group_post_path(post.group, post), method: :delete, data: { confirm: "行動消滅?" }, class: "btn btn-danger btn-xs") %>
          </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
