.col-md-4.col-md-offset-4
  %h1 字造。再造
  %hr
  = form_for @group, :url => { :controller => 'groups', :action => 'create' }, :method => :POST do |f|
    = f.label :title
    = f.text_field :title
    = f.label :description
    = f.text_area :description
    = f.submit "再造"
  = render "wordref"
