.col-md-4.col-md-offset-4
  %h1 字造。再造
  %hr
  = simple_form_for @group, :url => { :controller => 'groups', :action => 'create' }, :method => :POST do |f|
    .form-group
      = f.input :title, autofocus: true
      = f.input :description
      = f.collection_radio_buttons :font, [['宋體', '-宋體 '] ,['楷體', '-楷體 '] ,['宋體粗體', '-宋體粗體 '] ,['楷體粗體', '-楷體粗體 ']], :first, :last
    = f.submit "送出", class: "btn btn-primary", data: { disable_with: "送出中..." }
  = render "wordref"
