<div class="col-md-12">
  <div class="挑戰">
    <%= link_to("新挑戰", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>名稱</td>
        <td>描述</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(group.title, group_path(group)) %></td>
          <td><%= group.description %></td>
          <td>
              <%= link_to("編", edit_group_path(group), class: "btn btn-sm btn-default")%>
              <%= link_to("刪", group_path(group),    class: "btn btn-sm btn-default",
                          method: :delete, data: { confirm: "確定刪除挑戰?" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
