<div class="col-md-12">
  <div class="挑戰">
    <%= link_to("新挑戰", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>名稱</td>
        <td>行動數</td>
        <td>描述</td>
        <td align="right">最近更新</td>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>#</td>
          <td><%= link_to(truncate(group.title, length: 15), group_path(group)) %></td>
          <td><%= group.posts.size %></td>
          <td><%= truncate(group.description, length: 30) %></td>
          <td align="right"> <%= group.updated_at.to_s(:long)  %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
