<div class="col-md-12">
  <div class="group">
    <% if @group.editable_by?(current_user) %>
      <%= link_to("行動。新", new_group_post_path(@group), class: "btn btn-warning pull-right") %>
      <%= link_to("挑戰。改", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
    <% if current_user.present? %>
      <% if current_user.is_member_of?(@group) %>
        <%= link_to("離", quit_group_path(@group), method: :post, class: "btn btn-danger") %>
      <% else %>
        <%= link_to("入", join_group_path(@group), method: :post, class: "btn btn-info") %>
      <% end %>
    <% end %>
  </div>
  <td><%= image_tag("https://tools.wmflabs.org/idsgen/#{@group.title}.png?字體=宋體", size: "100", alt: @group.title) %></td>
  <h2><%= @group.title %></h2>
  <p><%= simple_format(@group.description) %></p>
  <table class="table">
   <thead>
     <tr>
       <th>解字</th>
       <th colspan="2"></th>
     </tr>
   </thead>
   <tbody>
     <% @posts.each do |post| %>
       <tr>
         <td><%= render_post_content(post) %></td>
         <td>
           <% if @group.editable_by?(current_user) %>
             <td align="right">
               <%= link_to('改', edit_group_post_path(post.group, post), class: "btn btn-info btn-xs") %>
               <%= link_to('滅', group_post_path(post.group, post), method: :delete, data: { confirm: "解字消滅?" }, class: "btn btn-danger btn-xs") %>
             </td>
           <% end %>
         </td>
       </tr>
     <% end %>
   </tbody>
  </table>
  <div id="disqus_thread"></div>
  <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
       */
      /*
      var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function() {  // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');

          s.src = '//ctaiwan.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
