<div class="col-md-12">
  <div class="group">
    <% if @group.editable_by?(current_user) %>
      <%= link_to("解字。新", new_group_post_path(@group), class: "btn btn-warning pull-right") %>
      <%= link_to("字造。改", edit_group_path(@group), class: "btn btn-primary pull-right")%>
    <% end %>
    <% if current_user.present? %>
      <% if current_user.is_member_of?(@group) %>
        <%= link_to("不採", quit_group_path(@group), method: :post, class: "btn btn-danger") %>
      <% else %>
        <%= link_to("採", join_group_path(@group), method: :post, class: "btn btn-info") %>
      <% end %>
    <% end %>
  </div>
  <td><%= content_tag(:a , image_tag("https://tools.wmflabs.org/idsgen/#{@group.title}.png?字體=#{@group.font}", size: "100", alt: @group.title),:href => "https://tools.wmflabs.org/idsgen/#{@group.title}.png?字體=#{@group.font}" ,:download =>"" ) %></td>
  <h2><%= @group.title %></h2>
  <h2><%= @group.font %></h2>
  <p><%= simple_format(@group.description) %></p>
  <table class="table table-responsive">
   <thead>
     <tr>
       <th>解字</th>
       <th colspan="2"></th>
     </tr>
   </thead>
   <tbody>
     <% @posts.each do |post| %>
       <tr>
         <td><%= render_post_content(post) %></td>
         <td>
           <% if @group.editable_by?(current_user) %>
             <td align="right">
               <%= link_to('改', edit_group_post_path(post.group, post), class: "btn btn-info btn-xs") %>
               <%= link_to('滅', group_post_path(post.group, post), method: :delete, data: { confirm: "解字消滅?" }, class: "btn btn-danger btn-xs") %>
             </td>
           <% end %>
         </td>
       </tr>
     <% end %>
   </tbody>
  </table>
  <%= social_share_button_tag(@group.title, :popup => "true", :url => request.original_url, :image => "https://tools.wmflabs.org/idsgen/#{@group.title}.png?字體=宋體") %>
  <%= render 'disqus' %>
</div>
