<div class="col-md-12">

  <h2 class="text-center"> 我加入的挑戰 </h2>

  <table class="table">
    <thead>
      <tr>
        <th> # </th>
        <th> 名稱 </th>
        <th> 描述 </th>
        <th> 解字數 </th>
        <th> 最近更新 </th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td> # </td>
          <td> <%= link_to(render_group_title(group), group_path(group)) %> </td>
          <td> <%= render_group_description(group) %> </td>
          <td> <%= group.posts.count %> </td>
          <td> <%= group.updated_at.to_s(:long)  %> </td>
          <td>
            <% if group.editable_by?(current_user) %>
            <td align="right">
              <%= link_to("改", edit_group_path(group), class: "btn btn-sm btn-info")%>
              <%= link_to("滅", group_path(group),    class: "btn btn-sm btn-danger", method: :delete, data: { confirm: "造字刪去?" } )%>
            </td>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
